{% extends 'shared/layout.html' %}

{% block title %}ثبت رمز جدید{% endblock %}

{% block content %}
    <section id="form"><!--form-->
        <div class="row">
            <div class="col-sm-6 col-md-offset-3">
                <div class="signup-form"><!--sign up form-->
                    <h2>ثبت رمز جدید</h2>
                    <form method="post">
                        {% csrf_token %}

                        {{ reset_pass_from.password }}
                        {{ reset_pass_from.password.errors }}
                        {{ reset_pass_from.confirm_password }}
                        {{ reset_pass_from.confirm_password.errors }}

                        <button type="submit" class="btn btn-default">ثبت رمز</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </section>
{% endblock %}