<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>دسته بندی محصولات</h2>
        <div class="panel-group category-products" id="accordian"><!--category-productsr-->

 {% for item in categories %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {% if item.articlecategory_set.all %}
                        <a data-toggle="collapse" data-parent="#accordian" href="#{{ item.url_title }}">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            {{ item.title }}
                        </a>

                    {% else %}
                        <a href="{% url 'article_category_list_filter' category=item.url_title %}">
                            {{ item.title }}
                        </a>
                    {% endif %}
                </h4>
            </div>
            {% if item.articlecategory_set.all %}
                <div id="{{ item.url_title }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            {% for sub_category in item.articlecategory_set.all %}
                                <li>
                                    <a href="{% url 'article_category_list_filter' category=sub_category.url_title %}"> {{ sub_category.title }} </a>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
        </div><!--/category-productsr-->

        <div class="brands_products"><!--brands_products-->